.App {
  background: #38383E;
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &-container {
    margin: 0 24px;
    position: relative;
  }

  &-title {
    color: white;
    background: -webkit-linear-gradient(0deg, #1DB954 0%, #3ccaee 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(10px + 2vmin);
  }

  &-subtitle {
    color: #cacaca;
    font-size: calc(10px + 1.5vmin);
    position: absolute;
  }
}
